* {
  box-sizing: border-box;
}
body {
  /* change this for background image */
  background-image: url("../img/bg.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
  overflow-x: hidden;
}


/* Header Css */
.head {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.head h1{
  color: white;
  font-size: 5rem;
  margin-top: 0px;
  margin-bottom: 0px;
}

.head p {
  color: white;
  font-size: 2rem;
  margin-top: 0px;
}

/* pfp img css */
.head img {
  border-radius: 100%;
  max-width: 50%;
  height: auto;
  border-style: solid;
  border-color: white;
  border-width: 5px;
  margin-top: 200px;
}

.header {
  background-color: none;
  color: #ffffff;
  padding: 15px;
}
/* Span for fa icons */
span {
  padding: 20px;
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

/* font awesome buttons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: auto;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}

.fa-twitter {
background: #55ACEE;
color: white;
}

.fa-tienda {
  background: #bb0000;
  color: white;
}

.fa-discord {
background: #424574;
color: white;
}
